.For {
  display: flex;
  height: 450px;
  position: relative;
  width: 350px;
  justify-content: center;
  align-content: center;
  background-color: #83bcca;
  border-style: none;
  align-content: center;
  margin-top: 120px;
  /* float: right; */
  margin-left: 67%;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  z-index: 10000;
  float: left;
}

.log {
  margin: 15px;
  /* position: absolute; */
}

.login {
  font: 20px "Poppins";
  font-weight: 600;
  color: #28527a;
  padding-left: 30px;
}
.log {
  margin: 20px;
  /* position: absolute; */
}
.email {
  margin: 25px;
  margin-left: 10px;
  font-family: 10px "Poppins";
  font-weight: 600;
  color: #28527a;
}
.email:focus {
  outline: none;
}

.em {
  float: left;
  font-family: 10px "Poppins";
  font-weight: 600;
  color: #28527a;
  margin-left: -85px;
}

.ei {
  /* float: left; */
  display: block;
  border-style: none;
  border-bottom: solid;
  border-width: 2px;
  background-color: #83bcca;
  border-color: #28527a;
  height: 21px;
  width: 250px;
  margin-left: 10px;
  font-family: "Poppins";
  color: #28527a;
  /* margin-top: 50px; */
  /* display: inline; */
}

.ei:focus {
  /* float: left; */
  outline: none;
  background-color: #83bcca;
  /* margin-top: 50px; */
  /* display: inline; */
}
.password {
  margin-top: 19px;
  margin-left: -10px;
  padding: 20px;
  font-family: 10px "Poppins";
  font-weight: 600;
  color: #28527a;
}

.pwd {
  font-family: 10px "Poppins";
  font-weight: 600;
  color: #28527a;
  margin-left: -70px;
}
.pw {
  display: block;
  border-style: none;
  border-bottom: solid;
  border-width: 2px;
  background-color: #83bcca;
  border-color: #28527a;
  height: 21px;
  margin-left: 8px;
  font-family: "Poppins";
  color: #28527a;
  width: 250px;
}
.pw:focus {
  outline: none;
  background-color: #83bcca;
}

.btn {
  margin-top: 35px;
  margin-left: 58px;
  /* padding: 20px; */
  width: 150px;
  height: 30px;
  background-color: #83bcca;
  border-radius: 25px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  border-style: none;
  /* font-style: "Poppins"; */
  font-family: "poppins";
  color: #28527a;
  font-size: 18px;
}

.btn:hover {
  box-shadow: 0px -2px 6px#13505F, -2px 0px 6px #045c72, 2px 0px 7px #afe4f0,
    0px 2px 7px #afe4f0;
}

.or {
  color: #28527a;
  font-family: "Poppins";
  font-size: 14px;
  padding-left: 40px;
  margin-top: 30px;
  margin-left: 17px;
}

.btn1 {
  display: block;
  margin-top: 20px;
  margin-left: 42px;
  width: 200px;
  height: 30px;
  background-color: #83bcca;
  border-radius: 25px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  border-style: none;
  /* font-style: "Poppins"; */
  font-family: "poppins";
  color: #28527a;
  font-size: 18px;
}

.btn1:hover {
  box-shadow: 0px -2px 6px#13505F, -2px 0px 6px #045c72, 2px 0px 7px #afe4f0,
    0px 2px 7px #afe4f0;
}

.btn2 {
  margin-top: 30px;
  margin-left: 58px;
  width: 150px;
  height: 30px;
  background-color: #83bcca;
  border-radius: 25px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  border-style: none;
  /* font-style: "Poppins"; */
  font-family: "poppins";
  color: #28527a;
  font-size: 18px;
}

.btn1:hover {
  box-shadow: 0px -2px 6px#13505F, -2px 0px 6px #045c72, 2px 0px 7px #afe4f0,
    0px 2px 7px #afe4f0;
}
.btn2:hover {
  box-shadow: 0px -2px 6px#13505F, -2px 0px 6px #045c72, 2px 0px 7px #afe4f0,
    0px 2px 7px #afe4f0;
}

.img {
  height: 420px;
  margin-left: -920px;
  margin-top: 32vh;
}

.form {
  margin-right: -5px;
}

.dig {
  position: fixed;
  z-index: 100000;
  overflow: auto;
  /* border-style: solid; */
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: #83bcca;
}

.or1 {
  color: #28527a;
  font-family: "Poppins";
  font-size: 14px;
  padding-left: 40px;
  margin-top: 20px;
  margin-left: 23px;
  cursor: pointer;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
}
