.patientbox {
  display: flex;
  height: 450px;
  position: fixed;
  width: 350px;
  justify-content: center;
  align-content: center;
  background-color: #83bcca;
  border-style: none;
  align-content: center;
  margin-top: 148px;
  /* float: right; */
  margin-right: 67%;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  z-index: -1000;
  float: left;
  margin-left: 57px;
}

.imgholder {
  position: absolute;
  border: solid;
  height: 100px;
  width: 100px;
  margin-top: 20px;
  border-radius: 50%;
  border-color: #28527a;
  float: left;
}

.name {
  position: absolute;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  margin-top: 135px;
  margin-right: 15px;
}

.sex {
  margin-top: 165px;
  position: absolute;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: -200px;
}

.ques {
  color: #d46b7a;
}

.Sex {
  margin-top: 165px;
  position: absolute;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: 200px;
}

.hospital {
  margin-top: 200px;
  position: absolute;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  margin-left: -30px;
}

.description {
  margin-top: 230px;
  position: absolute;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  width: 280px;
}

.graph {
  display: flex;
  margin-left: 550px;
  position: absolute;
  margin-top: 120px;
  padding: 20px;
  flex-direction: column;
}
.gtext {
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
}

.icon1 {
  margin-top: 295px;
  /* border-style: solid; */
  position: absolute;
  height: 60px;
  width: 60px;
  margin-left: -150px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  background-color: #83bcca;
  border-style: none;
}
.icon2 {
  margin-top: 295px;
  /* border-style: solid; */
  position: absolute;
  height: 60px;
  width: 60px;
  margin-left: 150px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  background-color: #83bcca;
  border-style: none;
}

.icon3 {
  margin-top: 375px;
  /* border-style: solid; */
  position: absolute;
  height: 60px;
  width: 60px;
  margin-left: 150px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  background-color: #83bcca;
  border-style: none;
}

.icon4 {
  margin-top: 375px;
  /* border-style: solid; */
  position: absolute;
  height: 60px;
  width: 60px;
  margin-left: -150px;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  background-color: #83bcca;
  border-style: none;
}

.icon1:hover,
.icon2:hover,
.icon3:hover,
.icon4:hover {
  box-shadow: 0px -2px 5px#045c72, -2px 0px 5px #045c72, 2px 0px 5px #afe4f0,
    0px 2px 5px #afe4f0;
  cursor: pointer;
}

.innertext {
  color: #28527a;
  text-align: center;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 8px;
}

.icon {
  height: 40px;
  margin-left: 7px;
  margin-top: 5px;
}

.icon5 {
  height: 35px;
  margin-left: 5px;
  margin-top: 5px;
}
