/* .imgbox{
    position:relative;
    display: flex;
    height:100px;
    border-style: solid;
    justify-content: left;
    width: 100px;
    border-radius: 50%;
    border-color: #28527A;
    margin-top: 15%;
    margin-left: -830px;
    float: left;
} */

.container {
  display: flex;
  position: relative;
  /* position: relative; */
  border-style: none;
  margin-top: 30px;
  height: 100px;
  margin-left: 250px;
  margin-right: 250px;
  /* float: left; */
  z-index: 1;
  /* float: right; */
  background-color: #83bcca;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
}

.imgbox {
  display: inline-flexbox;
  height: 80px;
  border-style: solid;
  width: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-top: 7px;
  margin-left: 7px;
  border-color: #28527a;
}

.name {
  display: inline;
  margin-top: 15px;
  margin-left: 17px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
}

.hospital {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 17px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  float: left;
}

.table {
  display: flexbox;
  flex-direction: column;
}

.age {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 100px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  float: left;
}

.sex {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 100px;
  color: #28527a;
  font-family: "Poppins";
  width: 70px;
  font-weight: 600;
  float: left;
}

.bp {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 15px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  float: left;
}

.o2 {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 45px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  float: left;
}

.temp {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 38px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  float: left;
}

.heart {
  display: inline;
  /* margin-top: 37px; */
  margin-left: 10px;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
  float: left;
}

.namebox {
  margin-top: 12px;
}

.view {
  background-color: #83bcca;
  height: 25px;
  width: 100px;
  margin-left: 85px;
  border-radius: 20px;
  border-color: #f87677;
  border-style: solid;
  font-family: "Poppins";
  font-weight: 600;
  color: #f87677;
  transition: 0.2s;
}

.view:hover {
  background-color: #28527a;
  border-style: none;
  cursor: pointer;
}
.screen {
  margin-top: 30px;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #f87677;
  font-family: "Poppins";
  font-weight: 600;
}

.search {
  position: absolute;
  border-style: none;
  margin-bottom: 15px;
  border-radius: 20px;
  height: 30px;
  margin-left: 245px;
  margin-top: 40px;
  width: 62%;
  margin-right: 250px;
  /* float: left; */
  z-index: 1000;
  /* float: right; */
  background-color: #83bcca;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  text-align: centre;
  font-size: 20px;
  padding-left: 20px;
  z-index: 1000000;
}

.search:focus {
  outline: none;
  color: #28527a;
}

.scroll {
  margin-top: -100px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #83bcca;
}

.inbox {
  margin-top: 150px;
  background-color: #83bcca;
}
