.header {
  display: flex;
  position: fixed;
  z-index: 1000;
  overflow: auto;
  top: 0;
  background-color: #83bcca;
}

.logo {
  display: flex;
  margin-left: 78px;
  margin-top: 25px;
  height: 70px;
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #28527a;
  font-family: "Poppins";
  font-weight: 600;
}

.ul {
  display: inline-flex;
  list-style: none;
  flex-direction: row;
  margin-left: 860px;
  margin-top: 20px;
}

.li {
  /* position: relative; */
  margin: 20px;
  transition: 0.2s;
}

.li:hover {
  /* margin-top:25px; */
  transform: translateY(5px);
}

.alert {
  display: flex;
  position: fixed;
  z-index: 1000;
  overflow: auto;
  bottom: 52px;
  right: 15px;
  background-color: #83bcca;
  box-shadow: 0px -2px 5px #afe4f0, -2px 0px 5px #afe4f0, 2px 0px 5px #044e61,
    0px 2px 5px #13505f;
  border: none;
}

.al {
  height: 50px;
}

.alert:hover {
  box-shadow: 0px -2px 5px#045c72, -2px 0px 5px #045c72, 2px 0px 5px #afe4f0,
    0px 2px 5px #afe4f0;
  cursor: pointer;
}

.Alert {
  display: flex;
  position: fixed;
  z-index: 1000;
  overflow: auto;
  /* border-style: solid; */
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: rgba(82, 47, 47, 0.445);
}
